In [1]:
import pandas as pd

In [4]:
table = [['Fruit', 'Color', 'Price (USD)'], ['Apple', 'Red', '1.20'], ['Banana', 'Yellow', '0.50'], ['Orange', 'Orange', '0.80'], ['Strawberry', 'Red', '2.50'], ['Blueberry', 'Blue', '3.00'], ['Kiwi', 'Green', '1.00'], ['Mango', 'Orange', '1.50'], ['Grape', 'Purple', '2.00']]

In [10]:
df = pd.DataFrame(table)
df

            0       1            2
0       Fruit   Color  Price (USD)
1       Apple     Red         1.20
2      Banana  Yellow         0.50
3      Orange  Orange         0.80
4  Strawberry     Red         2.50
5   Blueberry    Blue         3.00
6        Kiwi   Green         1.00
7       Mango  Orange         1.50
8       Grape  Purple         2.00

In [8]:
len(df.columns)

3

In [9]:
df.values

array([['Fruit', 'Color', 'Price (USD)'],
       ['Apple', 'Red', '1.20'],
       ['Banana', 'Yellow', '0.50'],
       ['Orange', 'Orange', '0.80'],
       ['Strawberry', 'Red', '2.50'],
       ['Blueberry', 'Blue', '3.00'],
       ['Kiwi', 'Green', '1.00'],
       ['Mango', 'Orange', '1.50'],
       ['Grape', 'Purple', '2.00']], dtype=object)